<h1>Portfolio</h1>

<% @project_items.each do |project|%>
    <h3><%= project.title %></h3>
    <p><%= project.subtitle %></p>
    <p><%= project.body %></p>
    <p><%= image_tag project.thumb_image unless project.thumb_image.nil? %></p>
    <hr>
<%end%>