<h2><%= @project_item.title %></h2>
<em><%= @project_item.subtitle %></em>
<br>
<%= image_tag @project_item.main_image unless @project_item.thumb_image.nil? %>

<p><%= @project_item.body %></p>

<a href="/projects">Back</a>